*{ 
	margin: 0px; 
	padding: 0px;
} 
a{ 
	text-decoration: none; 
}
ul li{ 
	list-style: none;
}
body {
    font-family: 'Roboto', sans-serif;
}
.home-page {
    width: 1180px;
    margin: 0 auto;
}
/*this is style header*/
header {
    width: 100%;
}
header .menu {
    float: left;
    padding: 25px 20px 20px 24px;
}
header .menu .bg_menu {
    background: #e0dbdb;
    padding: 6px 13px 28px 12px;
    border-radius: 4px;
    cursor: pointer;
}
header .menu .btn-icon {
    float: left;
    padding: 0px 10px 0px 0px;
    font-size: 20px;
}
header .menu .text-menu {
    float: left;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
    padding-top: 3px;
}
header .search {
    float: left;
    padding: 30px 0px 27px 0px;
}
header .search .img-search {
    float: left;
    padding: 3px 10px;
}
header .search .form-search {
    float: left;
}
header .search .text-search{
    padding: 3px;
    border: none;
    outline: none;
    background: #fdfcfc;
}
header .logo {
    float: left;
    padding: 5px 0px 10px 0px;
}
header .mxh {
    float: right;
    padding: 25px 0px 25px 0px;
}
header .mxh .btn_icon {
    padding-left: 12px;
}
/*this is style title*/
.fontU { text-transform: uppercase; }
.fs13 { font-size: 13px; }
.fs14 { font-size: 14px; }
.fs15 { font-size: 15px; }
.fs16 { font-size: 16px; }
.fs17 { font-size: 17px; }
.title-new {
    float: left;
    width: 100%;
}
.title-new .br-title {
    border: 1px solid #cccccc;
    float: left;
    width: 100%;
}
.title-new .news-title {
    float: left;
    background: url(../img/bg_title.png) no-repeat;
    padding: 12px 15px 12px 10px;
}
.title-new .content_title .content {
    float: left;
    padding: 8px 20px 0px 20px;
}
.title-new .content_title .time {
    float: left;
    background: #CCCCCC;
    padding: 3px 7px 3px 7px;
    color: #fbfbfb;
}
.title-new .content_title .content .text-time {
    float: left;
    font-weight: bolder;
    padding: 3px 0px 0px 5px;
}
.pading-title {
    padding: 8px 0px 0px 0px !important;
}
/*this is style slider*/
.mgt30 {margin-top: 30px;}
.mgt20 {margin-top: 20px;}
.slider {
    width: 100%;
    float: left;
}
.slider .content-slider{
    float: left;
    width: 20%;
    position: relative;
}
.item-slider {
	height: 280px;
}
.item-slider::before {
background: -moz-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%);  Chrome10-25,Safari5.1-6 
background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99.5%;
    height: 50%;
}
.slider .content-slider .img-slider{
    max-width: 100%;
    opacity: 0;
}
.slider .content-slider .pos-slider {
	position: absolute;
	bottom: 0px;
	padding: 10px;
}
.slider .pos-slider .titles {
    padding: 5px 7px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 10px;
}
.slider .pos-slider .content {padding-top: 7px;}
.slider .content .icon-slider{float: left;}
.slider .content .date{float: left;}
.colordate {color: #AAAAAA;}
.pdr5 {padding-right: 5px;}
.bgB{background: #6699ff;}
.bgG{background: #66cc33;}
.bgbr{background: #ff9933}
.bgth {background: #ff3366;}
.pdt20 {padding-top: 30px;}
/*this is style main_content*/
.main-content {
    width: 100%;
    float: left;
}
.main-content .left-main {
    float: left;
    width: 69%
}
.news-item {
    height: 437px;
}
.news-item::before {
background: -moz-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%);  Chrome10-25,Safari5.1-6 
background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
.main-content .content-article .left-content{
    width: 70%;
    position: relative;
    float: left;
}
.img-article {
    max-width: 100%;
    opacity: 0;
    background-size: cover;
}
.mgt10{margin-top: 7px;}
.colorW {color: white}
.fontW {font-weight: bolder;}
.posBL {
	position: absolute;
	bottom: 10px;
	left: 0px;
}
.main-content .left-content .caption {
    font-size: 33px;
    padding: 0px 10px 0px 20px;
}
.main-content .content-article .right-content{
    width: 29%;
    float: right;
}
.main-content .right-content .item-one {
    position: relative;
}
.article-item {
    height: 141px;
}
.article-item::before {
background: -moz-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%);  Chrome10-25,Safari5.1-6 
background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    height: 50%;
}
.main-content .right-content .caption {
    padding: 0px 10px;
}

/*category news */
.main-content .left-main .content-category {
    float: left;
    width: 100%;
}
.main-content .content-category .left {
    float: left;
    width: 49%;
}
.main-content .content-category .right {
    width: 49%;
    float: right;
}
.color-red {color: #ff3333; font-size: 15px;}
.color-blue {color: #336699 ; font-size: 15px;}
.color-sky {color: #33ccff; font-size: 15px;}
.color-green {color: #33cc33; font-size: 15px;}
.color-brick {color: #ff9933; font-size: 15px;}
.color-blued {color: #6666cc; font-size: 15px;}
.color-bluen {color: #99cc33; font-size: 15px;}
.color-pink { color: #ff3399; font-size: 15px;}
.main-content .content-category .news-content{
    border: 1px solid #cccccc;
    float: left;
    box-shadow: 2px 2px 5px #cccccc;
    border-top: 3px solid ;
}
.main-content .news-content .title-cate{
    text-align: center;
    font-size: 25px;
    padding: 8px;
    border-bottom: 1px solid #cccccc;
}
.main-content .news-content .wh-cate {
    padding: 10px 14px;
    position: relative;
}
.item-cate {
    height: 207px;
}
.item-cate::before {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+98 */
background: -moz-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%);  Chrome10-25,Safari5.1-6 
background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    content: '';
    position: absolute;
    bottom: 12px;
    left: 13px;
    width: 93%;
    height: 50%;
}
.main-content .news-content .caption {
    position: absolute;
    bottom: 20px;
    left: 0px;
    padding: 0px 30px;
    font-size: 18px;
}
.main-content .news-content .content{
    float: left;
    padding: 0px 13px 10px 13px;
}
.main-content .content .wh-content {
    float: left;
    width: 31%;
    height: 84px;
}
.main-content .content .nd-cate {
    float: right;
    width: 67%;
}
.main-content .content .nd-cate .text-cate{
    border: 1px solid ;
    border-radius: 3px ;
    display: inline-block;
    padding: 2px 7px;
}
.main-content .content .nd-cate .title-cates{
    padding-top: 7px;
}
.txt-link {
    color: #000000;
}
/*this is style video */
.main-content .left-main .content-video {
    width: 100%;
    float: left;
    border: 1px solid #cccccc;
    box-shadow: 0px 9px 5px #cccccc;
}
.main-content .content-video .video {
    border-bottom: 1px solid #cccccc;
    float: left;
    padding: 15px 15px 10px 15px;
}
.item-video {
	height: 273px;
	float: left;
    width: 60%;
}
.main-content .video .caption {
    float: right;
    width: 38%;
    position: relative;
    height: 273px;
} 
.main-content .video .caption .title-video {
    font-size: 20px;
    padding-bottom: 15px;
}
.main-content .video .caption .page {
    color: #cccccc;
}
.main-content .video .caption .btn-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 18px;
}
.main-content .btn-icon .left {
    padding-right: 10px;
    color: #cccccc;
}
.main-content .caption .btn-icon .right {
    color: #3399ff;
}

.main-content .video-lq {
    float: left;
    width: 100%;
    padding: 10px 0px;
}
.main-content .video-lq .content {
    width: 23%;
    float: left;
    padding: 0px 0px 0px 13px;
}
.item-videolq {
	height: 130px;
}
.main-content .video-lq .content .title-videolq{
    padding-top: 7px;
    float: left;
}
/*right main*/
.main-content .right-main {
    float: right;
    width: 30%;
    border: 1px solid #cccccc;
}
.main-content .right-main .content-one {
    width: 100%;
}
.main-content .content-one .menu {
    padding: 7px 20px;
}
.main-content .right-main .content-one .menu .bd-menu{
    padding: 12px 0px;
    border-bottom: 1px solid #cccccc;
    color: black;
}
.main-content .right-main .content-one .menu .bd-menus{
    padding: 13px 0px;
    font-weight: bolder;
    color: black;
    font-size: 14px;
}
.main-content .right-main .adver {
    border-top: 1px solid #cccccc;
    padding: 10px 19px;
    position: relative;
}
.item-adver {
	height: 273px;
}
.main-content .right-main .adver .text-qc {
    position: absolute;
    bottom: 0px;
    right: 13px;
}
.main-content .news-update .adver-new {
    background: #DDDDDD;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    text-align: center;
    padding: 10px;
}
.main-content .news-update .news-one {
    float: left;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}
.main-content .news-one .wh-news {
    position: relative;
    padding: 16px;
    border-bottom: 1px solid #cccccc;
}
.item-newone {
	height: 168px;
}
.item-newone::before {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+98 */
background: -moz-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%);  Chrome10-25,Safari5.1-6 
background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0) 0%,#000000 98%,#000000 100%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    content: '';
    position: absolute;
    bottom: 19px;
    left: 17px;
    width: 89.5%;
    height: 50%;
}
.main-content .wh-news .caption {
    position: absolute;
    bottom: 30px;
    left: 0px;
    padding: 0px 25px;
}
.main-content .lq-news {
    float: left;
    padding: 10px 19px 0px 19px;
}
.main-content .lq-news .wh-img {
    width: 25%;
    height: 80px;
    float: left;
}
.main-content .lq-news .caption {
    float: right;
    width: 73%;
    margin-left: 5px;
}
.main-content .lq-news .caption .title-one {
	height: 53px;
	display: hidden;
}
/*this is style footer*/
.footer {
    float: left;
    width:100%;
    background: #EEEEEE;
    padding: 20px 0px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin-top: 20px;
}
.footer .left {
    float: left;
    width: 64%;
    border-right: 1px solid #cccccc;
    padding: 0px 29px;
}
.footer .left .tl-footer{
    width: 25%;
    float: left;
}
.footer .left .tl-footer .text-foot{
    padding-top: 12px;
    text-transform: none;
    font-weight: normal;
}
.footer .right {
    float: right;
    width: 27%;
    padding: 0px 22px;
}
.footer .right .title-right {
    text-transform: uppercase;
    text-align: center;
}
.footer .right .text {padding-bottom: 12px;}
.footer .right .text .font {
    font-size: 16px;
    font-weight: bolder;
    padding-top: 7px;
}
.footer .font .btn-icon {
    font-size: 20px;
    padding: 4px 8px;
}
.footer .font .btn-icons {
    font-size: 27px;
    padding: 0px 9px;
}
.footer .right .scroll-foot {text-align: center;}
.footer .right .scroll {
    border: 1px solid #cccccc;
    border-radius: 10px;
    background: white;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}
.footer .right .adver-foot {
    margin-top: 15px;
}
.bottom {
    float: left;
    width: 100%;
}
.bottom .logo {float: left;}
.bottom .text_1 {
    float: left;
    padding: 21px 22px;
    color: #cccccc;
}
.colorBl{color: black;}
.bottom .text_2 {
    float: right;
    padding-top: 30px;
}
